<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-md-10">
        <div class="card p-3 mt-1">

            <h1>Release Notes</h1>
            <hr class="border border-secondary border-3 opacity-75">

            <h2>MVP Testing Milestone 5</h2>
            <h4>Improvements</h4>
            <ul>
                <li>Changed Batch List and Item List to infinite scroll</li>
                <li>Added filters to Batch List</li>
                <li>Added ability to download batch zip files</li>
                <li>Added UMD theming and branding</li>
                <li>Added session timeout</li>
            </ul>

            <hr>

            <h2>MVP Testing Milestone 4</h2>
            <h4>Improvements</h4>
            <ul>
                <li>Added Single Sign On</li>
                <li>Added "pool_report" and "off-the-record" filters to Item List</li>
                <li>Added finalize redactions and export functions</li>
            </ul>

            <hr>

            <h2>MVP Testing Milestone 3</h2>
            <h4>Improvements</h4>
            <ul>
                <li>Item View</li>
                <ul>
                    <li>On first save, change editorial review to 'In progress'</li>
                </ul>
                <li>Attachments, Inlines and External Images</li>
                <ul>
                    <li>Importing of files</li>
                    <li>Display of files in Item View</li>
                </ul>
                <li>Index Page</li>
                <ul>
                    <li>Added login link</li>
                </ul>
                <li>For Development</li>
                <ul>
                    <li>Added Debug Toolbar</li>
                </ul>
            </ul>

            <hr>

            <h2>MVP Testing Milestone 2</h2>
            <h4>Improvements</h4>
            <ul>
                <li>Item View</li>
                <ul>
                    <li>Item 'Previous Item' and 'Next Item' buttons use applied filters</li>
                    <li>'Save & Next' button uses applied filters</li>
                    <li>Added navigation to Item List with applied filters and without applied filters</li>
                    <li>Moved Item 'Save", 'Save & Next', and 'Reset' buttons</li>
                </ul>
                <li>Item List</li>
                <ul>
                    <li>Added filtering for Publish column</li>
                    <li>Editorial Review column has stoplight colors for better visual clarity</li>
                </ul>
                <li> Batch List</li>
                <ul>
                    <li>Disabled 'Assigned to' column</li>
                </ul>
                <li> Index Page</li>
                <ul>
                    <li>Improved layout and style</li>
                </ul>
                <li>Auto-redaction</li>
                <ul>
                    <li>Phone number auto-redaction no longer removes numbers from redacted strikethrough</li>
                    <li>Email address auto-redaction removes link</li>
                </ul>
            </ul>

            <hr>

            <h2>MVP Testing Milestone 1</h2>
            <h4>Select features</h4>
            <ul>
                <li>Batch list</li>
                <li>Item list</li>
                <li>Item view</li>
                <li>Authentication (temporary) for security</li>
                <li>Full email pre-processing via commands</li>
            </ul>

        </div>
    </div>
</div>