# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=on

ALLOWED_HOSTS=localhost,127.0.0.1

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='django-insecure-l@#aomb8&s8-ut6b23y18l2t!khm@p+s4bxc5)oh71pp%+b(0k'

# Database
# Preferred development database is sqlite3
# DATABASE_URL=psql://user:password@localhost:5432/databasename
DATABASE_URL=sqlite:///./db.sqlite3

CSRF_TRUSTED_ORIGINS=''