{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    {% if item_review_not_complete %}
    <div class="modal fade" id="incompleteReviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="incompleteReviewModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ item_review_not_complete }} out of {{ object.item_set.count }}
                        items have not been completely reviewed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-md">
                        <a class="nav-link" href="{% url 'itemlistview' batch.id %}?review_status=0&review_status=1">
                            Go to List View with Item Review Not Completed
                        </a>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Proceed Anyway</button>
                </div>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="row p-1">
        <h1>Convert & Export Batch</h1>

        <div class="card p-3 mt-1">
            <div class="row p-1">
                <div class="col-md-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Batch ID</td>
                                <td>{{ object.pk }}</td>
                            </tr>
                            <tr>
                                <td>Batch Name</td>
                                <td>{{ batch.name }}</td>
                            <tr>
                                <td>Total Items</td>
                                <td>{{ object.item_set.count }}</td>
                            </tr>
                            <tr>
                                <td>Items To Be Published</td>
                                <td>{{ item_publish }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-post="/batch_convert_and_export/" hx-target="#DataLocation" hx-include="[name='id']"
                            hx-swap="innerHTML show:bottom" value="{{ object.pk }}" name="id">
                            Convert & Export
                        </button>
                    </div>

                    <div class="col">
                        <div class="card p-3 mt-1" style="height:700px;">
                            <p class="card-text">
                            <div class="overflow-auto">
                                <div id="DataLocation"></div>
                            </div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var incompleteReviewModal = new bootstrap.Modal(document.getElementById('incompleteReviewModal'), {})
    incompleteReviewModal.toggle()
</script>

{% endblock %}