{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-2">
    <div class="row">
        <div class="col-md-8 mb-0">
            <h1>Item View</h1>
        </div>
        <!-- item nav -->
        <div class="col-md-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <a href="{% url 'itemview' object.pk|add:-1 %}"><button class="btn btn-outline-info btn-sm"><i
                            class="fa fa-chevron-left"></i> Prev
                        Item</button></a>

                <a href="{% url 'itemview' object.pk|add:1 %}"><button class="btn btn-outline-info btn-sm">Next
                        Item <i class="fa fa-chevron-right"></i></button></a>

            </div>
        </div>
    </div>
    <!-- form -->
    <form method="post" enctype="multipart/form-data" class="card p-3 mt-3">
        {% csrf_token %}
        {{ form.media}}

        <div class="row">
            <div class="col-md-10 mb-0">
                <h3>ID: {{ object.pk }}</h3>
                {{ form.date|as_crispy_field }}
                {{ form.reporter|as_crispy_field }}
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button name="reset" class="btn btn-outline-warning btn-sm me-1" value="Reset">Reset</button>
                    <input type="submit" name="save_add" class="btn btn-outline-success btn-sm me-1" value="Save" />
                    <input type="submit" name="save_continue" class="btn btn-success btn-sm me-1"
                        value="Save &amp; Next" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 mb-0 bg-light">
                {{ form.body_original|as_crispy_field }}
            </div>
            <div class="col-md-5 mb-0">
                {{ form.body_redact|as_crispy_field }}
            </div>
            <div class="col-md-2 mb-0">
                <div>Metadata</div>
                <div class="card p-3 mt-1">
                    {{ form.pool_report|as_crispy_field }}
                    {{ form.publish|as_crispy_field }}
                    {{ form.off_the_record|as_crispy_field }}
                    {{ form.review_status|as_crispy_field }}
                </div>
                <div class="row">
                    {{ form.notes|as_crispy_field }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}