{% extends "base.html" %}
{% block content %}

{% load django_tables2 %}
{% load django_bootstrap5 %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div "container-fluid">
    <h1>Item List</h1>

    <h3>Filter by Review Status</h3>
    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
    {% endif %}
    {% render_table table %}
</div>

{% endblock %}