{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-2">

    <div class="row">
        <div class="col-md-8 mb-0">
            <h1>Item View</h1>
        </div>
        <!-- item nav -->
        <div class="col-md-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                {% if previous_object_id %}

                <button type="button" class="btn btn-info btn-sm">
                    <a class="nav-link" href="{% url 'itemupdateview' previous_object_id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                        Prev Item
                    </a>
                </button>
                {% else %}
                <button type="button" class="btn btn-secondary btn-sm" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    Prev Item</button>
                {% endif %}

                {% if next_object_id %}

                <button type="button" class="btn btn-info btn-sm">
                    <a class="nav-link" href="{% url 'itemupdateview' next_object_id %}">
                        Next Item
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </button>
                {% else %}
                <button type="button" class="btn btn-secondary btn-sm" disabled>
                    Next Item
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
                {% endif %}

                <button type="button" class="btn btn-warning btn-sm">
                    <a class="nav-link" href="{% url 'itemlistview' item.batch.id %}">List View with Fresh Start</a>
                </button>
                <button type="button" class="btn btn-success btn-sm">
                    <a class="nav-link" href="{% url 'itemlistview' item.batch.id %}?{{ query_params }}">
                        List View with Current Filters
                    </a>
                </button>


            </div>
        </div>
    </div>
    <!-- form -->
    <form method="post" enctype="multipart/form-data" class="card p-3 mt-3">
        {% csrf_token %}
        {{ form.media}}

        <div class="row">
            <div class="col-md-10 mb-0">
                <h3>ID: {{ object.pk }}</h3>
                {{ form.date|as_crispy_field }}
                {{ form.reporter|as_crispy_field }}
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 mb-0 bg-light">
                {{ form.body_original|as_crispy_field }}
            </div>
            <div class="col-md-5 mb-0">
                {{ form.body_redact|as_crispy_field }}

                <!-- Attachments -->
                {% for file in object.file_set.all %}
                <!-- Stretched attachment link trigger modal -->
                <div class="card" style="width: 18rem;">
                    <img src="{{ file.file.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#Modal{{ file.id }}">
                            {{ file.name }}
                            <br>
                            {{ file.file }}
                        </a>
                    </div>
                </div>
                <!-- Modal for attachments -->
                <div class="modal fade" id="Modal{{ file.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Name: {{ file.name }}
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ file.file.url }}" alt="image" style="width:100%">
                                <br><br>
                                <a href="{{ file.file.url }}" target="_blank" rel="noopener noreferrer">Download</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}


            </div>
            <div class="col-md-2 mb-0">
                <div class="d-grid gap-2 d-xxl-flex">

                    {% if next_object_id %}
                    <input type="submit" name="save_continue" class="btn btn-success btn-sm me-1"
                        value="Save &amp; Next" />
                    {% else %}
                    <input type="submit" name="save_continue" class="btn btn-success btn-sm me-1"
                        value="Save &amp; Next" disabled />
                    {% endif %}

                    <input type="submit" name="save_add" class="btn btn-outline-success btn-sm me-1" value="Save" />
                    <button name="reset" class="btn btn-outline-warning btn-sm me-1" value="Reset">Reset</button>
                </div>
                <div class="card p-3 mt-1">
                    <div class="col my-0 py-0">
                        {{ form.publish|as_crispy_field }}
                        <hr>
                        {{ form.pool_report|as_crispy_field }}
                        {{ form.off_the_record|as_crispy_field }}
                        <hr>
                        <div class="col my-0 py-0">
                            {{ form.review_status|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    {{ form.notes|as_crispy_field }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}