{% extends "base.html" %}


{% load django_tables2 %}
{% load django_bootstrap5 %}
{% load django_tables2 crispy_forms_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row p-1">
        <h1>Item List</h1>
    </div>
    <div class="row p-1">
        <div class="col-md-2">
            <div class="card p-3 mt-1">
                <h3>Filters</h3>
                {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline'|crispy %}
                    {% bootstrap_button 'filter' %}
                </form>
                {% endif %}
            </div>
        </div>

        <div class="col-md-10">
            {% render_table table %}
        </div>
    </div>
</div>

{% endblock %}